@import url('https://use.fontawesome.com/releases/v5.14.0/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

#main-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  padding: 0.9em;
}

#elevator-display-container {
  display: grid;
  grid-template-columns: 1fr minmax(80px, 1fr);
  padding-right: 30px;
  gap: 10px;
  #elevator-display {
    display: flex;
    flex-direction: column;
    .elevator-display-passenger-list {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      gap: 5px;
      border-bottom: 10px solid black;
      .elevator-display-passenger {
        font-size: 4em;
        margin-bottom: -5px;
      }
    }
  }
  #elevator-wrapper {
    #elevator {
      position: relative;
      #elevator-frame {
        position: relative;
        z-index: 1000;
      }
      .door {
        position: absolute;
      }
      #left-door {
        left: 0;
        z-index: 80;
      }
      #right-door {
        right: 0;
        z-index: 81;
      }
    }
  }
}