@import url('https://use.fontawesome.com/releases/v5.14.0/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

#main-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  padding: 0.9em;
}

#elevator-display-container {
  display: grid;
  grid-template-columns: 1fr 180px;
  padding-right: 30px;
  gap: 10px;
  #elevator-floors {
    display: flex;
    flex-direction: column;
    gap: 242px;
    margin-top: 179px;
  }
  #elevator-wrapper {
    height: min-content;
    #elevator {
      overflow: hidden;
      position: relative;
      #elevator-frame {
        display: block;
        position: relative;
        z-index: 1000;
      }
      .door {
        position: absolute;
        top: 20%;
        width: 50%;
      }
      #left-door {
        left: 0;
        z-index: 80;
      }
      #right-door {
        right: 0;
        z-index: 81;
      }
    }
  }
}