<div class="person-btn-wrapper">
    <div class="person-up-container person-btn-container">
        <img src="/assets/arrow_up.svg" alt="up button" class="person-elev-btn person-up-btn" />
        <img src="/assets/arrow_up_highlighted.svg" alt="up button" class="person-elev-btn person-up-btn hover-img hover-up-img"/>
    </div>
    <div class="person-down-container person-btn-container" >
        <img src="/assets/arrow_down.svg" alt="down button" class="person-elev-btn person-down-btn" />
        <img src="/assets/arrow_down_highlighted.svg" alt="down button" class="person-elev-btn person-down-btn hover-img hover-down-img" />
    </div>
</div>