* {
    font-family: var(--font-main);
    box-sizing: border-box;
  }

:root {
  --blue: #0F5499;
  --font-main: 'Open Sans', sans-serif;
}

  html,
  body {
    margin: 0;
    padding: 0;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.person-btn-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  .person-btn-container {
    .person-elev-btn {
      display: block;
      height: 30px;
    }
    .hover-img {
      display: none;
      position: absolute;
      left: 0;
    }
    &:hover {
      .hover-img {
        display: inline;
        &.hover-up-img {
          top: 0;
        }
        &.hover-down-img {
          bottom: 0;
        }
      }
    }
  }
}